<a href="https://colab.research.google.com/github/parjanyahk/hackaithon-project/blob/branch1/PlacementsProjectModel1V2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from keras.models import Sequential
from keras.layers import Dense
from keras.utils import to_categorical

from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

In [2]:
data=pd.read_csv("/content/drive/My Drive/Placements Project Files/Model1.csv")

In [3]:
data

     Job Status  1st sem  ...  Technical Blogs  Soft skills and Communication
0             1     7.00  ...                0                              7
1             1     9.33  ...                1                             10
2             1     7.90  ...                1                              7
3             1     8.25  ...                0                              8
4             1     7.50  ...                0                              8
..          ...      ...  ...              ...                            ...
101           0     7.50  ...                0                              7
102           1     8.76  ...                1                              8
103           0     4.83  ...                0                              6
104           0     6.80  ...                0                              6
105           0     8.42  ...                1                              8

[106 rows x 55 columns]

In [4]:
data.head()

   Job Status  1st sem  ...  Technical Blogs  Soft skills and Communication
0           1     7.00  ...                0                              7
1           1     9.33  ...                1                             10
2           1     7.90  ...                1                              7
3           1     8.25  ...                0                              8
4           1     7.50  ...                0                              8

[5 rows x 55 columns]

In [5]:
data.iloc[:53,1:].values

array([[ 7.  ,  7.  ,  6.8 , ...,  1.  ,  0.  ,  7.  ],
       [ 9.33,  8.5 ,  8.07, ...,  1.  ,  1.  , 10.  ],
       [ 7.9 ,  8.1 ,  7.43, ...,  1.  ,  1.  ,  7.  ],
       ...,
       [ 4.83,  4.75,  4.29, ...,  0.  ,  0.  ,  6.  ],
       [ 6.8 ,  6.8 ,  6.48, ...,  1.  ,  0.  ,  6.  ],
       [ 8.42,  8.67,  7.7 , ...,  1.  ,  1.  ,  8.  ]])

In [6]:
X = preprocessing.scale(data.iloc[:53,1:].values)

In [7]:
X

array([[-0.8793117 , -0.81897552, -0.6332845 , ...,  0.54100178,
        -0.84242354, -0.81009259],
       [ 1.2230349 ,  0.51194341,  0.4750457 , ...,  0.54100178,
         1.18705135,  2.25668649],
       [-0.06724649,  0.15703169, -0.0834829 , ...,  0.54100178,
         1.18705135, -0.81009259],
       ...,
       [-2.83729116, -2.81535392, -2.82376387, ..., -1.84842275,
        -0.84242354, -1.83235228],
       [-1.05977064, -0.99643138, -0.9125488 , ...,  0.54100178,
        -0.84242354, -1.83235228],
       [ 0.40194674,  0.66278089,  0.15214635, ...,  0.54100178,
         1.18705135,  0.21216711]])

In [8]:
data.iloc[:53,:1].values

array([[1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0]])

In [9]:
y = to_categorical(data.iloc[:53,:1].values)

In [10]:
y

array([[0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.]], dtype=float32)

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=101)

In [12]:
#model
model = Sequential()
model.add(Dense(10, input_dim=54, activation='relu'))
model.add(Dense(2, activation='softmax'))
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [13]:
model.fit(X_train, y_train, validation_data=(X_test, y_test), epochs=50, batch_size=10)

Epoch 1/50
5/5 [==============================] - 0s 32ms/step - loss: 0.9473 - accuracy: 0.4286 - val_loss: 0.8051 - val_accuracy: 0.5455
Epoch 2/50
5/5 [==============================] - 0s 5ms/step - loss: 0.8793 - accuracy: 0.4762 - val_loss: 0.7722 - val_accuracy: 0.5455
Epoch 3/50
5/5 [==============================] - 0s 5ms/step - loss: 0.8263 - accuracy: 0.4762 - val_loss: 0.7421 - val_accuracy: 0.5455
Epoch 4/50
5/5 [==============================] - 0s 4ms/step - loss: 0.7850 - accuracy: 0.5000 - val_loss: 0.7149 - val_accuracy: 0.4545
Epoch 5/50
5/5 [==============================] - 0s 4ms/step - loss: 0.7439 - accuracy: 0.5238 - val_loss: 0.6914 - val_accuracy: 0.5455
Epoch 6/50
5/5 [==============================] - 0s 4ms/step - loss: 0.7101 - accuracy: 0.5952 - val_loss: 0.6695 - val_accuracy: 0.5455
Epoch 7/50
5/5 [==============================] - 0s 5ms/step - loss: 0.6793 - accuracy: 0.6190 - val_loss: 0.6501 - val_accuracy: 0.6364
Epoch 8/50
5/5 [==============================] - 0s 4ms/step - loss: 0.6469 - accuracy: 0.6905 - val_loss: 0.6330 - val_accuracy: 0.6364
Epoch 9/50
5/5 [==============================] - 0s 5ms/step - loss: 0.6213 - accuracy: 0.7143 - val_loss: 0.6158 - val_accuracy: 0.6364
Epoch 10/50
5/5 [==============================] - 0s 4ms/step - loss: 0.5934 - accuracy: 0.7143 - val_loss: 0.5995 - val_accuracy: 0.6364
Epoch 11/50
5/5 [==============================] - 0s 5ms/step - loss: 0.5678 - accuracy: 0.7143 - val_loss: 0.5870 - val_accuracy: 0.6364
Epoch 12/50
5/5 [==============================] - 0s 5ms/step - loss: 0.5416 - accuracy: 0.7619 - val_loss: 0.5755 - val_accuracy: 0.7273
Epoch 13/50
5/5 [==============================] - 0s 4ms/step - loss: 0.5220 - accuracy: 0.7857 - val_loss: 0.5658 - val_accuracy: 0.7273
Epoch 14/50
5/5 [==============================] - 0s 6ms/step - loss: 0.5035 - accuracy: 0.8095 - val_loss: 0.5572 - val_accuracy: 0.7273
Epoch 15/50
5/5 [==============================] - 0s 5ms/step - loss: 0.4866 - accuracy: 0.8333 - val_loss: 0.5489 - val_accuracy: 0.7273
Epoch 16/50
5/5 [==============================] - 0s 5ms/step - loss: 0.4702 - accuracy: 0.8333 - val_loss: 0.5411 - val_accuracy: 0.7273
Epoch 17/50
5/5 [==============================] - 0s 5ms/step - loss: 0.4546 - accuracy: 0.8333 - val_loss: 0.5341 - val_accuracy: 0.8182
Epoch 18/50
5/5 [==============================] - 0s 6ms/step - loss: 0.4387 - accuracy: 0.8571 - val_loss: 0.5253 - val_accuracy: 0.8182
Epoch 19/50
5/5 [==============================] - 0s 6ms/step - loss: 0.4258 - accuracy: 0.8571 - val_loss: 0.5167 - val_accuracy: 0.8182
Epoch 20/50
5/5 [==============================] - 0s 4ms/step - loss: 0.4120 - accuracy: 0.8571 - val_loss: 0.5096 - val_accuracy: 0.8182
Epoch 21/50
5/5 [==============================] - 0s 5ms/step - loss: 0.3999 - accuracy: 0.8571 - val_loss: 0.5029 - val_accuracy: 0.8182
Epoch 22/50
5/5 [==============================] - 0s 5ms/step - loss: 0.3884 - accuracy: 0.8571 - val_loss: 0.4967 - val_accuracy: 0.8182
Epoch 23/50
5/5 [==============================] - 0s 6ms/step - loss: 0.3783 - accuracy: 0.8571 - val_loss: 0.4906 - val_accuracy: 0.8182
Epoch 24/50
5/5 [==============================] - 0s 6ms/step - loss: 0.3679 - accuracy: 0.8571 - val_loss: 0.4850 - val_accuracy: 0.8182
Epoch 25/50
5/5 [==============================] - 0s 6ms/step - loss: 0.3575 - accuracy: 0.8571 - val_loss: 0.4798 - val_accuracy: 0.8182
Epoch 26/50
5/5 [==============================] - 0s 5ms/step - loss: 0.3484 - accuracy: 0.8571 - val_loss: 0.4748 - val_accuracy: 0.8182
Epoch 27/50
5/5 [==============================] - 0s 5ms/step - loss: 0.3388 - accuracy: 0.8571 - val_loss: 0.4695 - val_accuracy: 0.8182
Epoch 28/50
5/5 [==============================] - 0s 5ms/step - loss: 0.3292 - accuracy: 0.8571 - val_loss: 0.4639 - val_accuracy: 0.9091
Epoch 29/50
5/5 [==============================] - 0s 5ms/step - loss: 0.3199 - accuracy: 0.8571 - val_loss: 0.4587 - val_accuracy: 0.9091
Epoch 30/50
5/5 [==============================] - 0s 4ms/step - loss: 0.3113 - accuracy: 0.8571 - val_loss: 0.4537 - val_accuracy: 0.9091
Epoch 31/50
5/5 [==============================] - 0s 5ms/step - loss: 0.3026 - accuracy: 0.8571 - val_loss: 0.4484 - val_accuracy: 0.9091
Epoch 32/50
5/5 [==============================] - 0s 6ms/step - loss: 0.2944 - accuracy: 0.8571 - val_loss: 0.4434 - val_accuracy: 0.9091
Epoch 33/50
5/5 [==============================] - 0s 5ms/step - loss: 0.2863 - accuracy: 0.8571 - val_loss: 0.4389 - val_accuracy: 0.9091
Epoch 34/50
5/5 [==============================] - 0s 5ms/step - loss: 0.2791 - accuracy: 0.8571 - val_loss: 0.4347 - val_accuracy: 0.9091
Epoch 35/50
5/5 [==============================] - 0s 5ms/step - loss: 0.2710 - accuracy: 0.8810 - val_loss: 0.4302 - val_accuracy: 0.9091
Epoch 36/50
5/5 [==============================] - 0s 4ms/step - loss: 0.2637 - accuracy: 0.9048 - val_loss: 0.4248 - val_accuracy: 0.9091
Epoch 37/50
5/5 [==============================] - 0s 5ms/step - loss: 0.2546 - accuracy: 0.9286 - val_loss: 0.4198 - val_accuracy: 0.9091
Epoch 38/50
5/5 [==============================] - 0s 5ms/step - loss: 0.2475 - accuracy: 0.9286 - val_loss: 0.4157 - val_accuracy: 0.9091
Epoch 39/50
5/5 [==============================] - 0s 4ms/step - loss: 0.2402 - accuracy: 0.9286 - val_loss: 0.4117 - val_accuracy: 0.9091
Epoch 40/50
5/5 [==============================] - 0s 4ms/step - loss: 0.2323 - accuracy: 0.9286 - val_loss: 0.4072 - val_accuracy: 0.9091
Epoch 41/50
5/5 [==============================] - 0s 4ms/step - loss: 0.2255 - accuracy: 0.9524 - val_loss: 0.4029 - val_accuracy: 0.9091
Epoch 42/50
5/5 [==============================] - 0s 5ms/step - loss: 0.2189 - accuracy: 0.9524 - val_loss: 0.3990 - val_accuracy: 0.9091
Epoch 43/50
5/5 [==============================] - 0s 5ms/step - loss: 0.2123 - accuracy: 0.9524 - val_loss: 0.3955 - val_accuracy: 0.9091
Epoch 44/50
5/5 [==============================] - 0s 5ms/step - loss: 0.2058 - accuracy: 0.9524 - val_loss: 0.3920 - val_accuracy: 0.9091
Epoch 45/50
5/5 [==============================] - 0s 5ms/step - loss: 0.2000 - accuracy: 0.9762 - val_loss: 0.3881 - val_accuracy: 0.9091
Epoch 46/50
5/5 [==============================] - 0s 5ms/step - loss: 0.1934 - accuracy: 0.9762 - val_loss: 0.3848 - val_accuracy: 0.9091
Epoch 47/50
5/5 [==============================] - 0s 6ms/step - loss: 0.1871 - accuracy: 1.0000 - val_loss: 0.3805 - val_accuracy: 0.9091
Epoch 48/50
5/5 [==============================] - 0s 5ms/step - loss: 0.1814 - accuracy: 1.0000 - val_loss: 0.3759 - val_accuracy: 0.9091
Epoch 49/50
5/5 [==============================] - 0s 5ms/step - loss: 0.1751 - accuracy: 1.0000 - val_loss: 0.3719 - val_accuracy: 0.9091
Epoch 50/50
5/5 [==============================] - 0s 5ms/step - loss: 0.1693 - accuracy: 1.0000 - val_loss: 0.3680 - val_accuracy: 0.9091